p{
	text-align: justify!important;
}
body {
  background-color: #ecf2ff !important;
}
#homeLogo {
  height: 80px;
  width: 100px;
}
#title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
----------Login Page-------------
*/
#loginBox{
    width:60%;
    
}