<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="css/style.css" />
 <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <title>Home-MyBank</title>
  </head>
  <body>
    <!--NavBar-->
    <div class="container-fluid">
      <nav class="navbar  bg-dark bg-gradient ">
        <div class="container-fluid">
          <a class="navbar-brand fs-3 fw-bolder ps-5 text-white ms-5">My Bank</a>
          <form class="d-flex me-5" role="search">
            <button  onclick="window.location='/login.jsp';"class="btn btn-lg btn-outline-secondary me-4 text-light fw-semibold" type="button">Login</button>
            <button onclick="window.location='/register.jsp';" class="btn btn-lg btn-outline-secondary me-4 text-light fw-semibold " type="button">Register</button>
          </form>
        </div>
      </nav>
    </div>
    <!--End of NavBar-->
    <!--HomePage Card-->
  </body>
</html>
